<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/styles/screen.min.css">
</head>
<body>
	<!-- <h1>hello <a href="/contact">html</a></h1> -->
	<div class="header">
  <div class="sides">
    <a href="#" class="logo">BLOG</a>
  </div>
  <div class="sides"> <a href="#" class="menu">-</a></div>
  <div class="info">
  <h4><a href="#category">UI DESIGN</a></h4>
    <h1>ANIMATED HEADERS ARE THE BEST</h1>
    <div class="meta">
      <a  href="https://twitter.com/nodws" target="_b" class="author"></a><br>
      By <a href="https://twitter.com/nodws" target="_b">James Nodws</a> on May 30, 2017
    </div>
  </div>
</div>
  <script src="/scripts/main.min.js"></script>
</body>
</html>
